:root {
    --negro: #0a0a0a;
    --rosa: #ef8baa;
    --rosa-claro: #f6b8cb;
    --blanco: #ffffff;

    --fuente-titulo: 'Cormorant Garamond', serif;
    --fuente-script: 'Pinyon Script', cursive;
    --fuente-texto: 'Jost', sans-serif;
}
